{% extends "admin/base_site.html" %}

{% block extrahead %}
    <script defer src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const textarea = document.getElementById('id_markdown');
            const label = document.querySelector('label[for="id_markdown"]');
            const stackedit = new Stackedit();

            // Open the iframe
            label.addEventListener("click", function() {
                stackedit.openFile({
                    name: 'Filename', // with an optional filename
                    content: {
                        text: textarea.value // and the Markdown content.
                    }
                });
            }, false);

            // Listen to StackEdit events and apply the changes to the textarea.
            stackedit.on('fileChange', (file) => {
                textarea.value = file.content.text;
            });
        });
    </script>

    <style>
        label[for="id_markdown"] {
            cursor: pointer;
        }

        label[for="id_markdown"]::before {
            content: "✏️";
            padding-right: 0.25em;
        }

        #post_form #id_markdown {
            font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
            font-size: 1.25em;
            height: 60vh;
            line-height: 1.5;
        }

        .image-preview {
            max-width: 25vw;
        }
    </style>
{% endblock %}